html {
    width: 1440px;
}
body {
    margin-top: 3rem;
    margin-bottom: 3rem;   
    padding-left: 5rem;
    display: flex;
    flex-flow: column nowrap;
}

.attribution {
    font-size: 11px; 
    text-align: center;
    padding: 2rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    text-align: center;
}
.container {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #517acd3f;
    padding: 4rem;
    box-shadow: 8px 6px 6px gray
}
img {
    border-radius: 0.5rem;
}
.divider {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    width: 15rem;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    box-shadow: 10px 6px 6px gray
}
h1 {
    font-weight: 700;
    font-size: 20px;
}
p {
    font-weight: 400;
    font-size: 15px;
    color: grey

}
